<!--About miiinus-->
<section>
    <div class="fl w-100 pt6 pb5 tc">
        <p class="section-title">About miiinus</p>
        <p class="center section-title-line"></p>
    </div>
    <div class="mw7 center pa2-ns pa4 content-text">
        {{ .Site.Params.about }}
    </div>
    <div class="mw7 center content-text">
        <h2 class="tc pt5 pb4">Clients</h2>
        <!--Clients list-->
        
        <div class="cf ph2-ns">
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">招商银行</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">中信银行</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">兴业银行</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">华润银行</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">汇丰银行</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">Lenovo</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">Mango TV</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">中国电信</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">中国移动</span>
            </div>
            <div class="fl w-50 w-25-ns tc">
                <span class="client-box">中国联通</span>
            </div>
        </div>
    </div>
</section>