<section>
    <div class="fl w-100 pt6 pb5 tc section-box">
        <p class="section-title">Founders</p>
        <p class="center section-title-line"></p>
    </div>
    <div class="mw7 center content-text">
        <div class="fl w-100 w-third-ns tc">
            <div class="avatar">
                <img src="images/avatar1.jpg" style="width: 100px;" alt=""></div>
            <p class="f-name">Xu</p>
            <p class="f-title">CEO & Senior Designer</p>
            <p class="f-link">
                <a href="https://twitter.com/bloodyxu" class="fa fa-twitter grow dib no-underline"></a>
                <a href="https://dribbble.com/bloodyxu" class="fa fa-dribbble grow dib no-underline"></a>
                <a href="https://www.behance.net/bloodyxu" class="fa fa-behance grow dib no-underline"></a>
                <a href="https://500px.com/bloodyxu" class="fa fa-500px grow dib no-underline"></a>
                <a href="https://www.instagram.com/bloodyxu/" class="fa fa-instagram grow dib no-underline"></a>
            </p>
        </div>
        <div class="fl w-100 w-third-ns tc">
            <div class="avatar">
                <img src="images/avatar2.jpg" style="width: 100px;" alt=""></div>
            <p class="f-name">Samule Sun</p>
            <p class="f-title">Product & ID</p>
            <p class="f-link">
                <a href="https://www.behance.net/samule_sun" class="fa fa-behance grow dib no-underline"></a>
                <a href="https://www.instagram.com/samule.sun/" class="fa fa-instagram grow dib no-underline"></a>
            </p>
        </div>
        <div class="fl w-100 w-third-ns tc">
            <div class="avatar">
                <img src="images/avatar3.jpg" style="width: 100px;" alt=""></div>
            <p class="f-name">Ava Yan</p>
            <p class="f-title">Product & Branding</p>
            <p class="f-link">
                <a href="https://dribbble.com/fanfan1229" class="fa fa-dribbble grow dib no-underline"></a>
                <a href="https://www.instagram.com/yanfan1229/" class="fa fa-instagram grow dib no-underline"></a>
            </p>
        </div>
    </div>
</section>