<!--Header-->
<section>
    <div class="cf mw8 center">
        <div class="fl w-100 pv6 tc">
            <img src="images/logo-testing.svg" width="200" alt="">
            <p class="logo-text">{{ .Site.Params.description }}</p>
        </div>
    </div>
    <div class="cf mw8 center">
        <div class="fl w-100 pt3 pb6 tc">
            <div class="slogan">
                <p class="pa2 slogan-title">{{ .Site.Params.sloganTitle }}</p>
                <p class="pa4-ns pa4 intro-text">{{ .Site.Params.introText }}</p>
            </div>
        </div>
    </div>
    <!--<div class="fl w-100 tc">
        <img src="images/hero.jpg" class="w-100" alt="">
    </div>-->
</section>