<!--How we work-->
<section>
    <div class="fl w-100 pt6 pb5 tc section-box">
        <p class="section-title">How we work</p>
        <p class="center section-title-line"></p>
    </div>
    <div class="mw7 center content-text">
        <div class="fl w-100 pa2-ns pa4">
            <p class="pb3 content-text">是的，我们将会远程与您工作。我们相信这样的工作方式可以降低一部分沟通的成本，保证项目的快速推进与执行。我们使用多种协作工具来帮助双方推进整个项目计划，并随时进行交流与迭代。</p>
            <p class="content-text">我们用&nbsp;<span class="fa fa-slack">&nbsp;Slack&nbsp;</span>与您进行沟通交流，使用&nbsp;<span class="fa fa-trello">&nbsp;Trello&nbsp;</span>来管理项目进度与任务。同时我们也使用 InVision 和 Zeplin 进行原型的迭代测试与产品输出，这些先进的工具可以极大的缩减沟通与反馈的成本。</p>
        </div>
    </div>
</section>