<!--Get in touch-->
<section>
    <div class="fl w-100 pt6 pb5 tc section-box">
        <p class="section-title">Get in touch</p>
        <p class="center section-title-line"></p>
    </div>
    <div class="mw7 center content-text">
        <div class="fl w-100 tc">
            <a href="mailto:hello@miiinus.com" class="mail-link grow dib no-underline">hello@miiinus.com</a>
        </div>
        <div class="fl w-100 pb5">
            <h2 class="tc pt5 pb3">Finding us</h2>
            <p class="tc f-link">
                <a href="https://twitter.com/miiinushq" class="fa fa-twitter grow dib no-underline"></a>
                <a href="https://dribbble.com/miiinus" class="fa fa-dribbble grow dib no-underline"></a>
                <a href="https://www.instagram.com/miiinushq/" class="fa fa-instagram grow dib no-underline"></a>
            </p>
        </div>
    </div>
</section>