{{ partial "head.html" . }}
<body>
	<main class="mw9 ph5-ns ph2 center main-wrap">
		{{ partial "header.html" . }}
		<div class="w-100 line-wrap">
			<div class="v-line w-30-ns"></div>
			{{ partial "cases.html" . }}
			{{ partial "inshort.html" . }}
			{{ partial "people.html" . }}
			{{ partial "services.html" . }}
			{{ partial "intouch.html" . }}
		</div>
	</main>
	<script src="https://s22.cnzz.com/z_stat.php?id=1263000984&web_id=1263000984" language="JavaScript"></script>
</body>
{{ partial "script.html" . }}
</html>