<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="miiinus is a boutique design agency based in China.">
	<meta name="keywords" content="UI,UX,UE,design,app,web,交互设计,ui设计,设计公司">
	<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
	<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/images/touch-icon-144.png" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/tachyons/css/tachyons.css">
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
	<!--rss-->
	{{ if .Site.Params.enableRSS }}
	<link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> {{ end }}
	<script type="text/javascript" src="{{ .Site.BaseURL }}js/granim.min.js"></script>
</head>