<!--in short-->
<section>
	<div class="cf pb6 center">
		<div class="fl w-40-ns big-title relative">
			In Short
			<div class="short-line absolute">
				<!--短线-->
			</div>
		</div>
		<div class="fl w-60-ns">
			<p class="PTSerif-Regular">{{ .Site.Params.about }}</p>
			<h2 class="pt5">Clients we served</h2>
			<div class="fl w-50-ns w-100 clients">
				<ul class="PTSerif-Regular">
					<li>China Merchants Bank</li>
					<li>China CITIC Bank</li>
					<li>Industrial Bankk</li>
					<li>HSBC</li>
					<li>China Resources Bank</li>
					<li>Kiss Restaurant</li>
					<li>Iscool</li>
				</ul>
			</div>
			<div class="fl w-50-ns w-100 clients">
				<ul class="PTSerif-Regular">
					<li>Lenovo</li>
					<li>Mango TV</li>
					<li>China Telecom</li>
					<li>China Mobile</li>
					<li>China Unicom</li>
					<li>Xi'an Jiaotong University</li>
				</ul>
			</div>
		</div>
	</div>
</section>