<!--In Touch-->
<section>
	<div class="cf pb3 center">
		<div class="fl w-40-ns big-title relative">In Touch
			<div class="short-line absolute">
				<!--短线-->
			</div>
		</div>
		<div class="fl w-60-ns PTSerif-Regular">
			<p><a href="" class="mail-link hindbold dib no-underline">hello@miiinus.com</a></p>
			<h2 class="pt5">Follow us</h2>
			<div class="cf w-100">
				<div class="fl w-50-ns f-link">
					<a href="https://twitter.com/miiinushq" class="dib no-underline PTSerif-Regular mr3 link">Twitter</a>
					<a href="https://dribbble.com/miiinus" class=" dib no-underline PTSerif-Regular mr3 link">dribbble</a>
					<a href="https://www.instagram.com/miiinushq/" class="dib no-underline PTSerif-Regular mr3 link">Instagram</a>
					<a href="https://miiinus.com/blog" class="dib no-underline PTSerif-Regular mr3 link">News</a>
				</div>
			</div>
			<p class="copyright mt5">{{ .Site.Params.copyright }}</p>
		</div>
	</div>
</section>