<!--People-->
<section>
    <div class="cf pb6 center">
        <div class="fl w-40-ns big-title relative">
            Partners
            <div class="short-line absolute">
                <!--短线-->
            </div>
        </div>
        <div class="fl w-60-ns PTSerif-Regular">
            <p class="PTSerif-Regular">{{ .Site.Params.peopleText }}</p>
            <div class="cf w-100 pv5">
                <div class="cf fl w-50-ns">
                    <div class="cf w-100 pv3">
                        <img src="images/avatar1.jpg" class="measure-narrow dib v-mid" style="width: 100px; height: 100px;" alt="">
                        <p class="ml3 measure-narrow dib v-mid lh-title">
                            <span class="hindbold">Xu</span><br />
                            <span class="f5 PTSerif-Regular">Founder & CEO</span><br />
                            <!-- <a href="https://twitter.com/bloodyxu" class="social-link mr2 dib no-underline link">Twitter</a>
                            <a href="https://dribbble.com/bloodyxu" class="social-link mr2 dib no-underline link">dribbble</a>
                            <a href="https://www.instagram.com/bloodyxu/" class="social-link mr2 dib no-underline link">Instagram</a> -->
                        </p>
                    </div>
                </div>
                <div class="cf fl w-50-ns">
                    <div class="cf w-100 pv3">
                        <img src="images/avatar3.jpg" class="measure-narrow dib v-mid" style="width: 100px; height: 100px;" alt="">
                        <p class="ml3 measure-narrow dib v-mid lh-title">
                            <span class="hindbold">Ava Yan</span><br />
                            <span class="f5 PTSerif-Regular">Creative Director</span><br />
                            <!-- <a href="https://www.instagram.com/yanfan1229/" class="social-link mr2 dib no-underline link">Instagram</a>
                            <a href="https://dribbble.com/fanfan1229" class="social-link mr2 dib no-underline link">dribbble</a> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>