<!--Services-->
<section>
    <div class="cf pb6 center">
        <div class="fl w-40-ns big-title relative">Services
            <div class="short-line absolute">
                <!--短线-->
            </div>
        </div>
        <div class="fl w-60-ns PTSerif-Regular">
            <p class="PTSerif-Regular">{{ .Site.Params.servicesText }}</p>
            <div class="cf w-100">
                <div class="fl w-50-ns clients">
                    <h2 class="pt5">产品与体验设计</h2>
                    <ul class="PTSerif-Regular">
                        <li>Product Design</li>
                        <li>Web & Mobile Design</li>
                        <li>Interface Design</li>
                        <li>Experience Design</li>
                        <li>Development</li>
                        <li>Industrial Design</li>
                    </ul>
                </div>
                <div class="fl w-50-ns clients">
                    <h2 class="pt5">品牌与咨询</h2>
                    <ul class="PTSerif-Regular">
                        <li>Brand Positioning</li>
                        <li>Brand Definitions</li>
                        <li>Brand Identity</li>
                        <li>Visual Systems</li>
                        <li>Graphic, Typeface & Motion</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>